<meta property="og:url" content="https://banderoo.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Banderoo" />
<meta property="og:description" content="Naming your band is hard. Banderoo makes it easy. And fun!" />
<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />


  <div class="col-12 text-center mt-20vh">
    <div class="mb-4 logo-lg">
      <img ng-src="{{vm_index.banderooLogo}}" alt="Banderoo logo">
    </div>    
    <h3 class="mb-6">Need a band name? Banderoo makes naming your band easy. And fun!</h3>
    <a ui-sref="form.genre" class="btn btn-carnation btn-banderoo no-focus-effects"><span class="btn-text">Get Started</span></a>  

  </div>
