<div class="row">
  <div class="col-xs">
    <h3 class="my-1" ng-bind="vm_index.bandName"></h3>
  </div>
</div>

<div class="row">
  <form>

    <div class="col-xs">      
      <div ng-repeat="genre in vm_index.genres">
        <select class="form-control my-1">
          <option ng-repeat="(key, value) in genre">{{ value.name }}</option>
        </select>
      </div>
    </div>    

    <div class="col-xs">  
      <input class="form-control my-1" type="number" ng-model="vm_index.numberOfWords">
    </div>    

    <div class="col-xs">
      <button type="button" class="form-control btn btn-secondary my-1" ng-click="vm_index.getBandName(vm_index.numberOfWords)">Get Band Name</button>   
    </div>

  </form>
</div>