<div class="row flex-row-full-height">
  
  <div class="col-xs flex-xs-top text-xs-center">
    <h3 class="my-1">Let's Build Your Band Name!</h3>
    <div id="status-buttons" class="text-center">
      <a ui-sref-active="active" ui-sref="form.genre"><span>1</span> Genre</a>
      <a ui-sref-active="active" ui-sref="form.length"><span>2</span> Length</a>
      <a ui-sref-active="active" ui-sref="form.start-word"><span>3</span> Start Word</a>
    </div>    
  </div>
  
  <div class="col-xs-12 flex-xs-middle text-xs-center">      
    <form id="name-builder" ng-submit="vm_form.getBandName(vm_form.formData.words)">
    <ui-view id="form-views"></ui-view>
    </form>
  </div>

  <div class="col-xs-12">
    <pre>{{ vm_form.formData }}</pre>
    <h3 ng-bind="vm_form.bandName.name"></h3>
  </div> 

</div>