<div class="ui-view-content">
  
  <div class="row mt-5">
    <div class="col-12 mb-2">
      <h1 class="uppercase edmond-bold">Step #3</h1>
      <h3>Should there be a start word?</h3>
    </div>  

      <dropdown placeholder="Choose a start word:" list="vm_form.beginningWords" my-selected="vm_form.formData.beginsWith" property="string" value="string" color="carnation" class="col-12 col-xl-6 offset-xl-3 mb-3"></dropdown>
      
      <div class="col-12">
        <a ui-sref="form.length" class="btn btn-secondary" ng-click="vm_form.slideViewRight()">Prev</a>
      </div>

      <div class="col-12">        
          <button type="submit" class="btn btn-secondary mt-2" ng-if="!(vm_form.formData.beginsWith === '')">Get Band Name</button>
      </div>
    </div>
</div>