<div class="col-12 text-center">
  <h3 class="my-3">:: Banderoo Logo ::</h3>
  <div id="status-buttons">
    <a ui-sref-active="active" ui-sref="form.genre" ng-click="vm_form.setStatusButtonSlide(0, $state.current.name)">Genre</a>
    <a ui-sref-active="active" ui-sref="form.length" ng-click="vm_form.setStatusButtonSlide(1, $state.current.name)">Length</a>
    <a ui-sref-active="active" ui-sref="form.start-word" ng-click="vm_form.setStatusButtonSlide(2, $state.current.name)">Start Word</a>
  </div>    
</div>

<div class="col-12 text-center">      
  <form id="name-builder" ng-submit="vm_form.getBandName(vm_form.formData.words)"> 
    <div class="nested-view" ui-view ng-if="vm_form.iOS"></div>
    <div class="nested-view-transition" ui-view ng-class="vm_form.slideDir" ng-if="!vm_form.iOS"></div>  
  </form>
</div>