/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *  
 */
  $enable-flex: true;

  @import "bootstrap";
  @import "colors";
  @import "name_builder_length";
  @import "band_name";
  @import "dropdown";

  @font-face {
    font-family: 'EdmondSans';
    src: font-url('Edmondsans-Regular.otf');    
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EdmondSansMedium';
    src: font-url('Edmondsans-Medium.otf');    
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EdmondSansBold';
    src: font-url('Edmondsans-Bold.otf');    
    font-weight: normal;
    font-style: normal;
  }

  .edmond-reg {
    font-family: 'EdmondSans';
    font-weight: normal;
    font-style: normal;
  }

  .edmond-med {
    font-family: 'EdmondSansMedium';
    font-weight: normal;
    font-style: normal;
  }

  .edmond-bold {
    font-family: 'EdmondSansBold';
    font-weight: normal;
    font-style: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'EdmondSansMedium';
  }

  p, div {
    font-family: 'EdmondSans';
  }

  $margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);

  * {
    box-sizing: border-box;  
  }

  body {
    color: $white;
  }

  .flex-row-full-height {    
    height: 100vh;    
  }


  .btn {
    border-radius: 0;
  }

  .btn-banderoo {
    color: $white;
    background-color: $carnation;
    border-color: transparent;
    font-family: 'EdmondSansMedium';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }
  
  a.btn-banderoo:hover {
    color: $white;
  }  