/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *  
 */
  $enable-flex: true;

  @import "bootstrap";
  @import "font-awesome.css";
  @import "colors";  
  @import "name_builder_length";
  @import "band_name";
  @import "dropdown";

  @font-face {
    font-family: 'EdmondSans';
    src: font-url('Edmondsans-Regular.otf');    
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EdmondSansMedium';
    src: font-url('Edmondsans-Medium.otf');    
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EdmondSansBold';
    src: font-url('Edmondsans-Bold.otf');    
    font-weight: normal;
    font-style: normal;
  }

  .edmond-reg {
    font-family: 'EdmondSans';
    font-weight: normal;
    font-style: normal;
  }

  .edmond-med {
    font-family: 'EdmondSansMedium';
    font-weight: normal;
    font-style: normal;
  }

  .edmond-bold {
    font-family: 'EdmondSansBold';
    font-weight: normal;
    font-style: normal;
  }

  // Set font-size base for all rem
  html {    
    font-size: 14px;
    height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'EdmondSansMedium';
  }

  $baseline: 1.57rem;
  $margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);

  h1 {
    font-size: 3.5rem;
    line-height: $baseline*2;
    margin-bottom: $baseline;
  }

  h3 {
    font-size: 2rem;
    line-height: $baseline*1.5;
    margin-bottom: $baseline;
  }

  a {
    color: inherit;
  }

  * {
    box-sizing: border-box;  
  }

  body {
    color: $white;
    font-family: 'EdmondSans', sans-serif;
  }

  button, input {
    font-family: inherit;
  }

  .mb-6 {
    margin-bottom: $spacer*3.75;
  }

  .mt-20vh {
    margin-top: 20vh;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .flex-row-full-height {    
    height: 100vh;
    max-height: 100vh;    
  }

  .no-hover-effects {
    &:hover {
      color: inherit;
      text-decoration: none; 
    }
  }

  .no-focus-effects {
    &:focus {
      box-shadow: none;
      color: inherit;
    }
  }

  //Color classes
  .color-carnation {
    color: $carnation;
  }

  .color-ronchi {
    color: $ronchi;
  }

  .color-cornflower {
    color: $cornflower;
  }

  // Button Styles
  .btn {
    border-radius: 0;
    padding: 1rem 3rem;
    white-space: normal;

    &:hover {
      cursor: pointer;
    }
  }

  .btn-carnation {
    background-color: $carnation;    
  }

  .btn-ronchi {
    background-color: $ronchi;    
  }

  .btn-cornflower {
    background-color: $cornflower;    
  }

  .btn-banderoo {
    color: $white;
    border-color: transparent;
    font-family: 'EdmondSansBold';
    font-weight: normal;
    font-style: normal;
    line-height: $baseline;
    text-transform: uppercase;

    .btn-text {
      display: inline-block;
      font-size: 1.3rem;
      letter-spacing: 0.07rem;    
      vertical-align: text-top;
    }
  }
  
  a.btn-banderoo:hover {
    color: $white;
  }

  // Back Button

  .btn-back {
    border: 1px solid;
    padding: 0.5rem;
  }

  @import "mobile_styles";