// Place all the styles related to the BandName controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Background image on form states
.bg-img {
  position: relative;
  background-size: cover;
}

.bg-img-index,
.bg-img-band-name {
  background-image: image-url('banderoo_background_grey.svg');  
}

.bg-img-genre {
  background-image: image-url('banderoo_background_pink.svg');
}

.bg-img-length {
  background-image: image-url('banderoo_background_yellow.svg');
}

.bg-img-start-word,
.bg-img-loading {
  background-image: image-url('banderoo_background_blue.svg');
}

// Body background colors depending on $state
.bg-color-index, .bg-color-band-name {
  background-color: $black;
}

.bg-color-band-name.bg-color-loading {
  background-color: $cornflower;
}

.bg-color-genre {
  background-color: $carnation;
}

.bg-color-length {
  background-color: $ronchi;  
}

.bg-color-start-word {
  background-color: $cornflower;
}

// Font rules for #band-name

h1#band-name {
  font-size: 4rem;
  line-height: normal;
}

.genre-font-pop {
  font-family: 'Times New Roman';
}

.genre-font-indie {
  font-family: Arial;
}

.genre-font-punk {
  font-family: 'Courier New';
}

.genre-font-rock {
  font-family: 'Arial Black';
}

.genre-font-metal {
  font-family: Impact;
}

.genre-font-jazz {
  font-family: Helvetica;
}

.genre-font-country {
  font-family: Verdana;
}

// Banderoo logo

.logo-sm {
  display: inline-block;
  max-width: 13rem;
  width: 100%;
}

.logo-lg {
  display: inline-block;
  max-width: 30rem;
  width: 100%;
}

// Animations between $state changes

.nested-view {
  width: 100%;
}

.nested-view-transition {  
  width: 100%;

  &.ng-enter-prepare {
    opacity: 0;
  }

  &.ng-enter,
  &.ng-leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
            transition: transform 0.7s ease-in-out;
  }

  &.slide-left.ng-enter,
  &.slide-left.ng-enter-prepare {
    z-index: 101; 
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  &.slide-left.ng-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  &.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  &.slide-left.ng-leave-active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  &.slide-right.ng-enter,
  &.slide-right.ng-enter-prepare {
    z-index: 101;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  &.slide-right.ng-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  &.slide-right.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  &.slide-right.ng-leave-active {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

// Share icons

.share-icon-text {
  background-color: $ronchi;
  color: $black;
  display: block;
}

.share-icon-container {
  border: 1px solid $ronchi;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.share-icon {
  color: $ronchi;
  display: inline-block;

  > a:link {
    color: inherit;
  }
  
  > i, > a > i {
    font-size: 3rem;

    &.fa {
      cursor: pointer;
    }

  }

}