// Place all the styles related to the BandName controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#status-buttons a.active {
  color: red;
}

// Background image on form states
.bg-img {
  position: relative;
}

.bg-img:before {    
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;  
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;  
}

.bg-img.bg-img-index:before,
.bg-img.bg-img-band-name:before {
  background-image: url(image_path('banderoo_background_grey.svg'));
}

.bg-img.bg-img-genre:before {
  background-image: url(image_path('banderoo_background_pink.svg'));
}

.bg-img.bg-img-length:before {
  background-image: url(image_path('banderoo_background_yellow.svg'));
}

.bg-img.bg-img-start-word:before,
.bg-img.bg-img-loading:before {
  background-image: url(image_path('banderoo_background_blue.svg'));
}

// Body background colors depending on $state
.bg-color-index, .bg-color-band-name {
  background-color: $black;
}

.bg-color-band-name.bg-color-loading {
  background-color: $cornflower;
}

.bg-color-genre {
  background-color: $carnation;
}

.bg-color-length {
  background-color: $ronchi;  
}

.bg-color-start-word {
  background-color: $cornflower;
}