//Unique names from Name That Color http://chir.ag/projects/name-that-color/#6195ED
//See also https://davidwalsh.name/sass-color-variables-dont-suck
$black: #000000;
$white: #FFFFFF;
$carnation: #EF5A6C;
$ronchi: #EFCA5B;
$cornflower: #97C4E6;