.name-builder-length-container {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //set dimensions for invisible container
  .input-container {
    position: relative;
    height:  6rem;
    width:  6rem;
    margin: 0.9rem;

    //make actual radio input invisible
    // + stretch to fill container
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    //default tile styles
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid $carnation;
      border-radius: 50%;
      padding: 1rem;
      transition: transform 300ms ease;
    }
    .icon svg {
      fill: $carnation;
      width: 2.4rem;
      height: 2.4rem;
    }
    .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $carnation;
    }

    //active tile styles
    .radio-button:checked + .radio-tile {
      background-color: $carnation;
      border: 2px solid $carnation;
      color: white;
      transform: scale(1.1, 1.1);
      
      .icon svg {
        fill: white;
        background-color: $carnation;
      }
      .radio-tile-label {
        color: white;
        background-color: $carnation;
      }
    }
  }
}